.photo{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #c94747;
    background-color: white;
}
.nav-stacked>li.active>a, .nav-stacked>li.active>a:hover {
    border-left-color: white;
}
.box .nav-stacked>li {
    border-bottom: 0px none; 
}
#sec3 h2, h3, h4 {
     text-align: left; 
     padding-top: 0px; 
    position: relative;
    font-family: 'NeoSansArabic';
    color: #233142;
   margin-bottom: 0px;
}
#sec3 h2 {
    font-size: 30px;
    line-height: 1;
    margin-left: 10px;
}
#sec3 h4 {
    margin-left: 10px;
}
.cont-div{
    cursor: pointer;
     margin-top: 50px;
      border:solid;
       margin-bottom: 50px;
        border-color: #707070;
         border-width: 2px;
          border-left-color: transparent;
           height: 350px;
           border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
             border-radius: 100px;
}
.photo-dis{
    border:solid;
     border-color:transparent;
      height: 360px;
      margin-top: -10px;
       background-image: url(../img/parts/testphoto2.png);
}
.cont-des{
    border:solid;
     border-color:transparent;
      height: 300px;
}
.photo2-des{
    width: 286px;
     border:solid;
      border-color:transparent;
       height: 260px;
        background-image: url(../img/parts/sticker.png);
         margin-top:-20px;
          margin-left:-20px;
}
.fifty{
    width: 50px;
    height: 50px;
    position: relative;
    top:18px;
    left: 43px;
}
#sec3{
    height: 3000px;
}
.mop2{
    color: white;
    position: relative;
     top: 50%;
     left: 20%;
     font-size: 40px;
}
.mop3{
    color: white;
    position: relative;
     top: 50%;
     left: 30%;
}
.heart{
    text-align: center;
    font-size: 40px;
     color: red;
}
#hide{
    display:block;
}
#sec3 #edit4{
    cursor: pointer;
}
#sec3 #edit5{
    display:none;
}
#sora{
    width:300px; 
    height:300px;
}
@media only screen and (max-width: 988px) {
    .cont-div{
        margin-bottom: 300px;
        
    }
    .photo2-des{
        position: relative;
        bottom:250px;
        left: 60%;
    }
    #hide{
        display:none;
    }
}
@media only screen and (max-width: 500px) {
    .cont-div{
        margin-bottom: 300px;
        border-color:transparent;
    }
    .photo2-des{
        width: 155px;
        height: 132px;
        position: relative;
        left: 300px;
    }
    .fifty{
        font-size: 10px;
         position: relative;
        left:20px;
        margin-top: -20px;
    }
    .photo2-des h2{
        font-size:25px;
    }
    #sec3{
        height: 4200px;
    }
    #sec3 h3 {
        font-size: 15px;
    }
    .mop2{
        color: white;
        position: relative;
         bottom: 50px;
         left: 20%;
         font-size: 20px;
    }
    .mop3{
        color: white;
        position: relative;
         left: 20%;
         bottom: 50px;
         font-size: 10px;
    }
    .heart{
        position: relative;
        bottom:250px;
        left: 32%;
    }
    #hide{
        display:none;
    }
    #sec3 #edit5{
        display:block;
        position: relative;
        bottom: 390px;
    }
    #sec3 #edit6{
        display: none;
    }
}
@media only screen and (max-width: 450px) {
    .photo2-des{
        width: 300px;
        position: relative;
        bottom:0px;
        left: 10%;
        top:10%;
        margin-bottom: 20px;
    }
    .cont-div{
        margin-bottom: 700px;   
    }
    #sec3 h2, h3, h4 {
        text-align: center; 
   }
   #sec3 .heart {
    position: relative;
    top: -56px;
    text-align: center;
    /* right: 49px; */
}
.fifty {
    font-size: 10px;
    position: relative;
    left: 44px;
    top:50px;
}
#fifty_small{
    display: none;
}
   .mop{
       margin-left: -40%;
   }
   #hide{
    display:none;
}
#sec3 #edit5{
    display:block;
    position: relative;
    bottom: 380px;
    right: 20px;
}
#sec3 #edit6{
    display: none;
    
}  
}
@media only screen and (max-width: 800px) {
    #sora{
        width:100px; 
        height:100px;
        display:none;
    } 
}
@media only screen and (min-width: 800px) {
    #sec3 #edit4{
        cursor: pointer;
    }
    .form-control {
        margin-top: 0px;
        margin: 0 auto;
        width: 300px;
    }
    #search{
        margin-left: 50px;
    }
    .fifty{
        position:relative;
        right:50px;
    }

}